import Config

# Copy this file to `dev.secrets.exs` and fill in your own values.
# `dev.secrets.exs` is git-ignored and imported by `dev.exs`.

config :another_tracking_tool, AnotherTrackingTool.Tmdb,
  access_token: "your-tmdb-v4-read-access-token"
